In [250]:
import pandas as pd
import numpy as np

In [204]:
path = r'C:\projects\barber\Сводный отчет по парикмахерским 2024.xlsx'

In [205]:
df = pd.read_excel(path, sheet_name='КГКМ ВЗиС 2-2')

In [206]:
df.head()

,услуги,стрижка модельная,Unnamed: 2,стрижка без насадки (наголо),Unnamed: 4,стрижка под машинку с 1 насадкой,Unnamed: 6,стрижка под машинку с 2 насадками,Unnamed: 8,окантовка стрижки,...,ИТОГО выручка,Unnamed: 82,ИТОГО услуг,Unnamed: 84,Unnamed: 85,пар,Unnamed: 87,Unnamed: 88,ман,Unnamed: 90
0,NaN,к-во,сумма,к-во,сумма,к-во,сумма,к-во,сумма,к-во,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-01-01 00:00:00,2,1000,NaN,0,NaN,0,NaN,0,NaN,...,2050.0,2050.0,4.0,NaN,NaN,2.0,1000.0,NaN,2.0,1050.0
2,2024-01-02 00:00:00,2,1000,NaN,0,1,250,1,350,NaN,...,4250.0,4250.0,10.0,NaN,NaN,4.0,1600.0,NaN,6.0,2650.0
3,2024-01-03 00:00:00,1,500,NaN,0,NaN,0,3,1050,1,...,3850.0,3850.0,11.0,NaN,NaN,5.0,1650.0,NaN,6.0,2200.0
4,2024-01-04 00:00:00,5,2500,NaN,0,NaN,0,NaN,0,NaN,...,6500.0,6500.0,12.0,NaN,NaN,7.0,2700.0,NaN,5.0,3800.0

In [207]:
del_col = df.loc[: ,'ИТОГО выручка'::]

In [208]:
del_col

,ИТОГО выручка,Unnamed: 82,ИТОГО услуг,Unnamed: 84,Unnamed: 85,пар,Unnamed: 87,Unnamed: 88,ман,Unnamed: 90
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2050.0,2050.0,4.0,NaN,NaN,2.0,1000.0,NaN,2.0,1050.0
2,4250.0,4250.0,10.0,NaN,NaN,4.0,1600.0,NaN,6.0,2650.0
3,3850.0,3850.0,11.0,NaN,NaN,5.0,1650.0,NaN,6.0,2200.0
4,6500.0,6500.0,12.0,NaN,NaN,7.0,2700.0,NaN,5.0,3800.0
...,...,...,...,...,...,...,...,...,...,...
375,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
376,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
377,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
378,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0
379,1057060.0,1057060.0,2751.0,2751.0,NaN,NaN,NaN,NaN,NaN,NaN

In [219]:
df_new = df.drop(columns=del_col.columns)

In [220]:
df_new

,услуги,стрижка модельная,Unnamed: 2,стрижка без насадки (наголо),Unnamed: 4,стрижка под машинку с 1 насадкой,Unnamed: 6,стрижка под машинку с 2 насадками,Unnamed: 8,окантовка стрижки,...,снятие покрытия ногтей,Unnamed: 72,гигиенический педикюр,Unnamed: 74,педикюр с покрытием гель-лак,Unnamed: 76,спа-уход,Unnamed: 78,эко-маникюр,Unnamed: 80
0,NaN,к-во,сумма,к-во,сумма,к-во,сумма,к-во,сумма,к-во,...,к-во,сумма,к-во,сумма,к-во,сумма,к-во,сумма,к-во,сумма
1,2024-01-01 00:00:00,2,1000,NaN,0,NaN,0,NaN,0,NaN,...,1,100,NaN,0,NaN,0,NaN,0,NaN,0
2,2024-01-02 00:00:00,2,1000,NaN,0,1,250,1,350,NaN,...,3,300,NaN,0,NaN,0,NaN,0,NaN,0
3,2024-01-03 00:00:00,1,500,NaN,0,NaN,0,3,1050,1,...,2,200,NaN,0,NaN,0,NaN,0,NaN,0
4,2024-01-04 00:00:00,5,2500,NaN,0,NaN,0,NaN,0,NaN,...,1,100,NaN,0,NaN,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2024-12-29 00:00:00,NaN,0,NaN,0,NaN,0,NaN,0,NaN,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
376,2024-12-30 00:00:00,NaN,0,NaN,0,NaN,0,NaN,0,NaN,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
377,2024-12-31 00:00:00,NaN,0,NaN,0,NaN,0,NaN,0,NaN,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
378,ИТОГ декабрь:,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
379,ИТОГ за год,884,442000,63,9450,112,28000,449,157150,11,...,114,11400,42,50400,4,6400,1,650,7,5600

In [221]:
del_str = df_new['услуги'].str.contains('ИТОГ', na=False)

In [222]:
del_str

0      False
1      False
2      False
3      False
4      False
       ...
375    False
376    False
377    False
378     True
379     True
Name: услуги, Length: 380, dtype: bool

In [246]:
df_new = df_new[~del_str]

C:\Users\Михаил\AppData\Local\Temp\ipykernel_13284\3934704022.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_new = df_new[~del_str]

In [266]:
df_new.head()

,услуги,стрижка модельная,Unnamed: 2,стрижка без насадки (наголо),Unnamed: 4,стрижка под машинку с 1 насадкой,Unnamed: 6,стрижка под машинку с 2 насадками,Unnamed: 8,окантовка стрижки,...,снятие покрытия ногтей,Unnamed: 72,гигиенический педикюр,Unnamed: 74,педикюр с покрытием гель-лак,Unnamed: 76,спа-уход,Unnamed: 78,эко-маникюр,Unnamed: 80
0,NaN,к-во,сумма,к-во,сумма,к-во,сумма,к-во,сумма,к-во,...,к-во,сумма,к-во,сумма,к-во,сумма,к-во,сумма,к-во,сумма
1,2024-01-01 00:00:00,2,1000,NaN,0,NaN,0,NaN,0,NaN,...,1,100,NaN,0,NaN,0,NaN,0,NaN,0
2,2024-01-02 00:00:00,2,1000,NaN,0,1,250,1,350,NaN,...,3,300,NaN,0,NaN,0,NaN,0,NaN,0
3,2024-01-03 00:00:00,1,500,NaN,0,NaN,0,3,1050,1,...,2,200,NaN,0,NaN,0,NaN,0,NaN,0
4,2024-01-04 00:00:00,5,2500,NaN,0,NaN,0,NaN,0,NaN,...,1,100,NaN,0,NaN,0,NaN,0,NaN,0

In [267]:
df_temp = df_new.T
df_temp.reset_index(inplace=True)
df_temp = df_temp.rename(columns={'index': 'Услуги'})
df_temp

,Услуги,0,1,2,3,4,5,6,7,8,...,368,369,370,371,372,373,374,375,376,377
0,услуги,NaN,2024-01-01 00:00:00,2024-01-02 00:00:00,2024-01-03 00:00:00,2024-01-04 00:00:00,2024-01-05 00:00:00,2024-01-06 00:00:00,2024-01-07 00:00:00,2024-01-08 00:00:00,...,2024-12-22 00:00:00,2024-12-23 00:00:00,2024-12-24 00:00:00,2024-12-25 00:00:00,2024-12-26 00:00:00,2024-12-27 00:00:00,2024-12-28 00:00:00,2024-12-29 00:00:00,2024-12-30 00:00:00,2024-12-31 00:00:00
1,стрижка модельная,к-во,2,2,1,5,2,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Unnamed: 2,сумма,1000,1000,500,2500,1000,1000,1000,500,...,0,0,0,0,0,0,0,0,0,0
3,стрижка без насадки (наголо),к-во,NaN,NaN,NaN,NaN,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Unnamed: 4,сумма,0,0,0,0,150,150,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,Unnamed: 76,сумма,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,спа-уход,к-во,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Unnamed: 78,сумма,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79,эко-маникюр,к-во,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Unnamed: 80,сумма,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [268]:
del_unnamed = df_temp['Услуги'].str.contains('Unnamed')
del_unnamed

0     False
1     False
2      True
3     False
4      True
      ...
76     True
77    False
78     True
79    False
80     True
Name: Услуги, Length: 81, dtype: bool

In [269]:
df_temp['Услуги_1'] = np.where(df_temp['Услуги'].str.contains('Unnamed'), np.nan, df_temp['Услуги'])
df_temp

,Услуги,0,1,2,3,4,5,6,7,8,...,369,370,371,372,373,374,375,376,377,Услуги_1
0,услуги,NaN,2024-01-01 00:00:00,2024-01-02 00:00:00,2024-01-03 00:00:00,2024-01-04 00:00:00,2024-01-05 00:00:00,2024-01-06 00:00:00,2024-01-07 00:00:00,2024-01-08 00:00:00,...,2024-12-23 00:00:00,2024-12-24 00:00:00,2024-12-25 00:00:00,2024-12-26 00:00:00,2024-12-27 00:00:00,2024-12-28 00:00:00,2024-12-29 00:00:00,2024-12-30 00:00:00,2024-12-31 00:00:00,услуги
1,стрижка модельная,к-во,2,2,1,5,2,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,стрижка модельная
2,Unnamed: 2,сумма,1000,1000,500,2500,1000,1000,1000,500,...,0,0,0,0,0,0,0,0,0,NaN
3,стрижка без насадки (наголо),к-во,NaN,NaN,NaN,NaN,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,стрижка без насадки (наголо)
4,Unnamed: 4,сумма,0,0,0,0,150,150,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,Unnamed: 76,сумма,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
77,спа-уход,к-во,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,спа-уход
78,Unnamed: 78,сумма,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
79,эко-маникюр,к-во,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,эко-маникюр
80,Unnamed: 80,сумма,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [272]:
df_temp = df_temp.drop(columns='Услуги')

In [276]:
df_temp = df_temp.rename(columns={'Услуги_1': 'Услуги'})
df_temp

,0,1,2,3,4,5,6,7,8,9,...,369,370,371,372,373,374,375,376,377,Услуги
0,NaN,2024-01-01 00:00:00,2024-01-02 00:00:00,2024-01-03 00:00:00,2024-01-04 00:00:00,2024-01-05 00:00:00,2024-01-06 00:00:00,2024-01-07 00:00:00,2024-01-08 00:00:00,2024-01-09 00:00:00,...,2024-12-23 00:00:00,2024-12-24 00:00:00,2024-12-25 00:00:00,2024-12-26 00:00:00,2024-12-27 00:00:00,2024-12-28 00:00:00,2024-12-29 00:00:00,2024-12-30 00:00:00,2024-12-31 00:00:00,услуги
1,к-во,2,2,1,5,2,2,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,стрижка модельная
2,сумма,1000,1000,500,2500,1000,1000,1000,500,500,...,0,0,0,0,0,0,0,0,0,NaN
3,к-во,NaN,NaN,NaN,NaN,1,1,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,стрижка без насадки (наголо)
4,сумма,0,0,0,0,150,150,0,0,150,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,сумма,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
77,к-во,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,спа-уход
78,сумма,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
79,к-во,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,эко-маникюр
80,сумма,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [277]:
df_temp['Услуги'] = df_temp['Услуги'].fillna(method = 'ffill')

C:\Users\Михаил\AppData\Local\Temp\ipykernel_13284\1372713068.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_temp['Услуги'] = df_temp['Услуги'].fillna(method = 'ffill')

In [285]:
df_temp

,0,1,2,3,4,5,6,7,8,9,...,369,370,371,372,373,374,375,376,377,Услуги
0,NaN,2024-01-01 00:00:00,2024-01-02 00:00:00,2024-01-03 00:00:00,2024-01-04 00:00:00,2024-01-05 00:00:00,2024-01-06 00:00:00,2024-01-07 00:00:00,2024-01-08 00:00:00,2024-01-09 00:00:00,...,2024-12-23 00:00:00,2024-12-24 00:00:00,2024-12-25 00:00:00,2024-12-26 00:00:00,2024-12-27 00:00:00,2024-12-28 00:00:00,2024-12-29 00:00:00,2024-12-30 00:00:00,2024-12-31 00:00:00,услуги
1,к-во,2,2,1,5,2,2,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,стрижка модельная
2,сумма,1000,1000,500,2500,1000,1000,1000,500,500,...,0,0,0,0,0,0,0,0,0,стрижка модельная
3,к-во,NaN,NaN,NaN,NaN,1,1,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,стрижка без насадки (наголо)
4,сумма,0,0,0,0,150,150,0,0,150,...,0,0,0,0,0,0,0,0,0,стрижка без насадки (наголо)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,сумма,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,педикюр с покрытием гель-лак
77,к-во,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,спа-уход
78,сумма,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,спа-уход
79,к-во,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,эко-маникюр
80,сумма,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,эко-маникюр

In [293]:
mean = df_temp['Услуги']
df_temp = df_temp.drop('Услуги', axis=1)
df_temp.insert(0, 'Услуги', mean)

In [294]:
df_temp

,Услуги,0,1,2,3,4,5,6,7,8,...,368,369,370,371,372,373,374,375,376,377
0,услуги,NaN,2024-01-01 00:00:00,2024-01-02 00:00:00,2024-01-03 00:00:00,2024-01-04 00:00:00,2024-01-05 00:00:00,2024-01-06 00:00:00,2024-01-07 00:00:00,2024-01-08 00:00:00,...,2024-12-22 00:00:00,2024-12-23 00:00:00,2024-12-24 00:00:00,2024-12-25 00:00:00,2024-12-26 00:00:00,2024-12-27 00:00:00,2024-12-28 00:00:00,2024-12-29 00:00:00,2024-12-30 00:00:00,2024-12-31 00:00:00
1,стрижка модельная,к-во,2,2,1,5,2,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,стрижка модельная,сумма,1000,1000,500,2500,1000,1000,1000,500,...,0,0,0,0,0,0,0,0,0,0
3,стрижка без насадки (наголо),к-во,NaN,NaN,NaN,NaN,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,стрижка без насадки (наголо),сумма,0,0,0,0,150,150,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,педикюр с покрытием гель-лак,сумма,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,спа-уход,к-во,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,спа-уход,сумма,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79,эко-маникюр,к-во,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,эко-маникюр,сумма,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0